
@{ Layout = "~/Views/Shared/_LayoutGuest.cshtml";
                ViewBag.Title = "P-Manager"; }


    <!-- hero -->
    <div class="hero" id="id-1" style="background-image: url('https://images.wallpaperscraft.ru/image/linii_setka_perepleteniia_137806_1920x1200.jpg'); ">
        <div class="hero__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ">
                        <h1 class="hero__title">
                            Мы

                            <!-- typing__module -->
                            <div class="typing__module" data-options='{"typeSpeed":60}'>
                                <div class="typed-strings">
                                    <span>Every</span><span>Молодые</span><span>Free</span>
                                </div><span class="typed"></span>
                            </div><!-- End / typing__module -->
                            
                        </h1>
                        <p class="hero__text">
                            Ты попал на проект Every, место, где ты сможешь попробовать себя в роли проджект-менеджера.
                            Это не простой сайт, тут ты сможешь узнать много нового про профессию проджект-менеджера, получить немного теории и возможно даже станешь ведущим специалистом.
                        </p>
                    </div>
                </div><span id="back-to-down"><i class="pe-7s-angle-down"></i></span>
            </div>
        </div>
    </div><!-- End / hero -->
    <!-- Section -->
    <section class="md-section bg-gray" id="id-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">

                    <!-- slide-image -->
                    <div class="slide-image">

                        <!-- swiper__module swiper-container -->
                        <div class="swiper__module swiper-container slide-image__front" data-options='{"slidesPerView":1,"spaceBetween":0}'>
                            <div class="swiper-wrapper">
                                <div class="slide-item" style="background-image: url('https://cache3.youla.io/files/images/720_720_out/5b/ea/5beaeb96d138b3b4f8593c93.jpg'); "></div>
                                <div class="slide-item" style="background-image: url('https://im0-tub-ru.yandex.net/i?id=adc68ac0bdb49e10e7eedbecf89e8a85-l&n=13'); "></div>
                                <div class="slide-item" style="background-image: url('https://sun1-96.userapi.com/97AJTVdcGXPcWxQnpDC9LzpyNcs6zuOoAxZ5IQ/qKD6s-2Vbh8.jpg'); "></div>
                            </div>
                            <div class="swiper-pagination-custom"></div>
                        </div><!-- End / swiper__module swiper-container -->
                        <!-- swiper-thumbnails__module swiper-container -->
                        <div class="swiper-thumbnails__module swiper-container slide-image__black" data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
                            <div class="swiper-wrapper">
                                <div class="slide-item" style="background-image: url('https://cache3.youla.io/files/images/720_720_out/5b/ea/5beaeb96d138b3b4f8593c93.jpg');"></div>
                                <div class="slide-item" style="background-image: url('https://im0-tub-ru.yandex.net/i?id=adc68ac0bdb49e10e7eedbecf89e8a85-l&n=13'); "></div>
                                <div class="slide-item" style="background-image: url('https://sun1-96.userapi.com/97AJTVdcGXPcWxQnpDC9LzpyNcs6zuOoAxZ5IQ/qKD6s-2Vbh8.jpg'); "></div>
                            </div>
                        </div><!-- End / swiper-thumbnails__module swiper-container -->

                    </div><!-- End / slide-image -->

                </div>
                <div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

                    <!-- title -->
                    <div class="title">
                        <h2 class="title__title">Привет от Every</h2>
                    </div><!-- End / title -->

                    <p class="fz-16">
                    Мы небольшой русский проект, основателем которого является студент Высшего Колледжа Информатики. Наша цель, показать на пальцах, что же такое проджект менеджмент и как работать в команде.
                    </p>
                    <p class="fz-16">
                        Для этого, на сайте представлена специальная страница, где размещены некоторые обучающие ролики и полезная литература, а так же ссылки на ресурсы, которые вам пригодятся. Если ты дочитал до этого момента, зачит ты
                        заинтересовался, так чего тянуть, предлагаю начать с озов, нажимай на кнопку и внемай.
                    </p>
                </div>
            </div>

            <!-- swiper__module swiper-container -->
            <div class="swiper__module swiper-container mt-50" data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
                <div class="swiper-wrapper">


                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-paint-bucket"></i></div>
                        <h3 class="service__title">Медиа</h3>
                        <p class="service__text">Удобная обратная связь.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-lintern"></i></div>
                        <h3 class="service__title">Планирование задач</h3>
                        <p class="service__text">Простое и удобное в управлении.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-gleam"></i></div>
                        <h3 class="service__title">Контроль задач</h3>
                        <p class="service__text">Это можно днлать в два клика.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-anchor"></i></div>
                        <h3 class="service__title">Простой интерфейс</h3>
                        <p class="service__text">Тут разберётся даже ребёнок.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-refresh"></i></div>
                        <h3 class="service__title">Защита ваших данных</h3>
                        <p class="service__text">Думаем что это важно.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-joy"></i></div>
                        <h3 class="service__title">Удобный Dashboard</h3>
                        <p class="service__text">Всё понятно на диаграме.</p>
                    </div><!-- End / service -->
                    <!-- service -->
                    <div class="service mb-0">
                        <div class="service__icon"><i class="pe-7s-lock"></i></div>
                        <h3 class="service__title">Инструменты менеджера</h3>
                        <p class="service__text">Менеджеры поймут.</p>
                    </div><!-- End / service -->
                   

                </div>
            </div><!-- End / swiper__module swiper-container -->

        </div>
    </section>
    <!-- End / Section -->
    <!-- Section -->
    <section class="md-section" id="id-3">
        <div class="container">
            <div class="row">
                
                    <div class="title">
                        <h2 class="title__title">Привет от Every/обучение</h2>
                    </div><!-- End / title -->
                    <p class="fz-16">
                        И так, если ты дочитал до этого момента, то можно считать, что ты заинтересован профессией Project-менеджера и тебе хочется узнать больше или же приступить к работе.
                        Если ты хочешь начать работать с приложением, то просто нажимай сюда: <a href="/Administration/Dashboard/"> ссылка</a>.
                        Если ты хочешь почитать про профессию Project-менеджера, узнать что то новое и посмотреть пару обучающих видео, то нажимай сюда: @Html.ActionLink("Обучение", "Learning", "Home").
                    </p>
                </div>
            </div>
        


    </section>
    <!-- End / Section -->
    <!-- Section -->
    <section class="md-section bg-gray" id="id-4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- title -->
                    <div class="title">
                        <h2 class="title__title">Интересные статьи</h2>
                    </div><!-- End / title -->

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">

                    <!--  -->
                    <div>
                        <div class="post__media"><a href="#"><img src="https://i.pinimg.com/736x/e2/07/4f/e2074f4f03440c622353e565bf221729.jpg" alt="" /></a></div>
                        <div class="post__body">
                            <h2 class="post__title"><a href="#">1</a></h2>
                            <div class="post__meta"><span class="author"><a href="#">Антон</a></span><span class="date">Jan 3, 2021</span></div>
                            <p class="post__text">text</p>
                        </div>
                    </div><!-- End /  -->

                </div>
                <div class="col-lg-4 ">

                    <!--  -->
                    <div>
                        <div class="post__media"><a href="#"><img src="https://i.pinimg.com/736x/e2/07/4f/e2074f4f03440c622353e565bf221729.jpg" alt="" /></a></div>
                        <div class="post__body">
                            <h2 class="post__title"><a href="#">2</a></h2>
                            <div class="post__meta"><span class="author"><a href="#">Андрей</a></span><span class="date">Jan 21, 2021</span></div>
                            <p class="post__text">text</p>
                        </div>
                    </div><!-- End /  -->

                </div>
                <div class="col-lg-4 ">

                    <!--  -->
                    <div>
                        <div class="post__media"><a href="#"><img src="https://i.pinimg.com/736x/e2/07/4f/e2074f4f03440c622353e565bf221729.jpg" alt="" /></a></div>
                        <div class="post__body">
                            <h2 class="post__title"><a href="#">3</a></h2>
                            <div class="post__meta"><span class="author"><a href="#">Денис</a></span><span class="date">Jan 23, 2021</span></div>
                            <p class="post__text">text</p>
                        </div>
                    </div><!-- End /  -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->
    <!-- Section -->
    <section class="md-section" id="id-5">
        <div class="container">
            <div class="row">
    
                <div class="col-lg-7 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

                    <!-- title -->
                    <div class="title">
                        <h2 class="title__title">Свяжитесь с нами</h2>
                    </div><!-- End / title -->

                    <div class="form-wrapper">

                        <!-- form-item -->
                        <div class="form-item form-item--half">
                            <label class="form__label">
                                Email,<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="input" placeholder="" />
                        </div><!-- End / form-item -->
                        <!-- form-item -->
                        <div class="form-item form-item--half">
                            <label class="form__label">
                                Имя,<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="input" placeholder="" />
                        </div><!-- End / form-item -->
                        <!-- form-item -->
                        <div class="form-item">
                            <label class="form__label">
                                Сообщение<span>*</span>
                            </label>
                            <textarea class="form-control"></textarea>
                        </div><!-- End / form-item -->
                        <!-- form-item -->
                        <div class="form-item">
                            <a class="md-btn btn-custom" href="#">
                                Отправить сообщение
                            </a>
                        </div><!-- End / form-item -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->


<!-- End / Content-->